{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <div class="page-header text-center" style="background-image: url({% static 'images/page-header-bg.jpg' %})">
            <div class="container">
                <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'polls:home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="cart">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <table class="table table-cart table-mobile">
                                <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>

                                {% for item in  context %}
                                    <tr>

                                        <td class="product-col">
                                            <div class="product">

                                                <figure class="product-media">

                                                    <a href="{% url 'polls:product' item.product_id %}">
                                                        <img src="{{ item.product.image.url }}"
                                                             alt="Product image">
                                                    </a>
                                                </figure>

                                                <h3 class="product-title">
                                                    <a href="{% url 'polls:product' item.product_id %}">{{ item.product.title }}</a>
                                                </h3><!-- End .product-title -->

                                            </div><!-- End .product -->
                                        </td>

                                        <td class="price-col">${{ item.product.price }}</td>
                                        <td class="quantity-col">
                                            <div class="cart-product-quantity">

                                                <div class="d-flex align-items-center">
                                                    <form action="{% url 'polls:cart_delete_quantity' %}" method="POST">
                                                        {% csrf_token %}
                                                        <button class="btn btn-block btn-outline-primary-2"
                                                                style="min-width: 24px; height: 24px; padding: 0"
                                                                name="delete" value="{{ item.product_id }}">-
                                                        </button>
                                                    </form>
                                                    <div class="total-col text-center">{{ item.quantity }}</div>
                                                    <form action="{% url 'polls:cart_add_quantity' %}" method="POST">
                                                        {% csrf_token %}
                                                        <button class="btn btn-block btn-outline-primary-2"
                                                                style="min-width: 24px; height: 24px; padding: 0"
                                                                name="add" value="{{ item.product_id }}">+
                                                        </button>
                                                    </form>
                                                </div>

                                                <td class="total-col">${{ item.total_price }}</td>

                                            </div><!-- End .cart-product-quantity -->
                                        </td>
                                        <td>
                                            <form action="{% url 'polls:cart_list_delete' %}" method="POST">
                                                {% csrf_token %}

                                                <td class="remove-col">
                                                    <button
                                                            class="btn btn-block btn-outline-primary-2" name="id"
                                                            value="{{ item.product_id }}"><i
                                                            class="icon-close"></i>Remove
                                                    </button>
                                                </td>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table><!-- End .table table-wishlist -->

                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">

                            <div class="summary summary-cart">
                                <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <tbody>
                                    <tr class="summary-shipping-estimate">
                                        <td>Estimate for Your Country<br> <a href="{% url 'polls:dashboard' %}">Change
                                            address</a>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr><!-- End .summary-shipping-estimate -->

                                    <tr class="summary-total">
                                        <td>Total:</td>

                                        <td>${{ summa }}</td>


                                    </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <a href="{% url 'polls:checkout' %}"
                                   class="btn btn-outline-primary-2 btn-order btn-block">PROCEED
                                    TO
                                    CHECKOUT</a>

                            </div><!-- End .summary -->
                            <a href="{% url 'polls:home' %}"
                               class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i
                                    class="icon-refresh"></i></a>

                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cart -->
        </div><!-- End .page-content -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    </main><!-- End .main -->
{% endblock %}




{##}
{#      <tr class="summary-shipping">#}
{#                                        <td>Shipping:</td>#}
{#                                        <td>&nbsp;</td>#}
{#                                    </tr>#}
{# <tr class="summary-shipping-row">#}
{#                                        <td>#}
{#                                            <div class="custom-control custom-radio">#}
{#                                                <input type="radio" id="free-shipping" name="shipping"#}
{#                                                       class="custom-control-input">#}
{#                                                <label class="custom-control-label" for="free-shipping">Free#}
{#                                                    Shipping</label>#}
{#                                            </div><!-- End .custom-control -->#}
{#                                        </td>#}
{#                                        <td>$0.00</td>#}
{#                                    </tr><!-- End .summary-shipping-row -->#}
{##}
{#                                    <tr class="summary-shipping-row">#}
{#                                        <td>#}
{#                                            <div class="custom-control custom-radio">#}
{#                                                <input type="radio" id="standart-shipping" name="shipping"#}
{#                                                       class="custom-control-input">#}
{#                                                <label class="custom-control-label"#}
{#                                                       for="standart-shipping">Standart:</label>#}
{#                                            </div><!-- End .custom-control -->#}
{#                                        </td>#}
{#                                        <td>$10.00</td>#}
{#                                    </tr><!-- End .summary-shipping-row -->#}
{##}
{#                                    <tr class="summary-shipping-row">#}
{#                                        <td>#}
{#                                            <div class="custom-control custom-radio">#}
{#                                                <input type="radio" id="express-shipping" name="shipping"#}
{#                                                       class="custom-control-input">#}
{#                                                <label class="custom-control-label"#}
{#                                                       for="express-shipping">Express:</label>#}
{#                                            </div><!-- End .custom-control -->#}
{#                                        </td>#}
{#                                        <td>$20.00</td>#}
{#                                    </tr><!-- End .summary-shipping-row -->#}
{#                            <div class="cart-bottom">#}
{#                                <div class="cart-discount">#}
{#                                    <form action="#">#}
{#                                        <div class="input-group">#}
{#                                            <input type="text" class="form-control" required placeholder="coupon code">#}
{#                                            <div class="input-group-append">#}
{#                                                <button class="btn btn-outline-primary-2" type="submit"><i#}
{#                                                        class="icon-long-arrow-right"></i></button>#}
{#                                            </div><!-- .End .input-group-append -->#}
{#                                        </div><!-- End .input-group -->#}
{#                                    </form>#}
{#                                </div><!-- End .cart-discount -->#}
{#                            </div><!-- End .cart-bottom -->#}