{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="main">
        <div class="intro-section bg-lighter pt-5 pb-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="intro-slider-container slider-container-ratio slider-container-1 mb-2 mb-lg-0">
                            <div class="intro-slider intro-slider-1 owl-carousel owl-simple owl-light owl-nav-inside"
                                 data-toggle="owl" data-owl-options='{
                                        "nav": false,
                                        "responsive": {
                                            "768": {
                                                "nav": true
                                            }
                                        }
                                    }'>
                                {% for item in menu %}
                                    {% for i in item.product_set.all %}
                                        <div class="intro-slide">
                                            <figure class="slide-image">
                                                <picture>
                                                    <source media="(max-width: 480px)"
                                                            srcset="{{ i.image.url }}">
                                                    <img src="{{ i.image.url }}"
                                                         alt="Image Desc">
                                                </picture>
                                            </figure><!-- End .slide-image -->

                                            <div class="intro-content">
                                                <h3 class="intro-subtitle">{{ i.title }}</h3>
                                                <!-- End .h3 intro-subtitle -->
                                                {#                                                <h1 class="intro-title">Living Room<br>Furniture</h1>#}
                                                <!-- End .intro-title -->

                                                <a href="{% url 'polls:product' i.id %}" class="btn btn-outline-white">
                                                    <span>SHOP NOW</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </a>
                                            </div><!-- End .intro-content -->
                                        </div><!-- End .intro-slide -->
                                    {% endfor %}
                                {% endfor %}
                            </div><!-- End .intro-slider owl-carousel owl-simple -->

                            <span class="slider-loader"></span><!-- End .slider-loader -->
                        </div><!-- End .intro-slider-container -->
                    </div><!-- End .col-lg-8 -->
                    {#                 #}
                </div><!-- End .row -->

                <div class="mb-6"></div><!-- End .mb-6 -->

                <div class="owl-carousel owl-simple" data-toggle="owl"
                     data-owl-options='{
                            "nav": false,
                            "dots": false,
                            "margin": 30,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "420": {
                                    "items":3
                                },
                                "600": {
                                    "items":4
                                },
                                "900": {
                                    "items":5
                                },
                                "1024": {
                                    "items":6
                                }
                            }
                        }'>
                    <a href="#" class="brand">
                        <img src="{% static 'images/brands/1.png' %}" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="{% static 'images/brands/2.png' %}" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="{% static 'images/brands/3.png' %}" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="{% static 'images/brands/4.png' %}" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="{% static 'images/brands/5.png' %}" alt="Brand Name">
                    </a>

                    <a href="#" class="brand">
                        <img src="{% static 'images/brands/6.png' %}" alt="Brand Name">
                    </a>
                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->
        </div><!-- End .bg-lighter -->

        <div class="mb-6"></div><!-- End .mb-6 -->

        <div class="container">

            <div class="heading heading-center mb-3">

                <h2 class="title-lg">Trendy Products</h2><!-- End .title -->

                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="trendy-all-link" data-toggle="tab" href="#trendy-all-tab"
                           role="tab" aria-controls="trendy-all-tab" aria-selected="true">All</a>
                    </li>
                    {% for item in product %}
                        <li class="nav-item">

                            <a class="nav-link" id="trendy-fur-link" data-toggle="tab" href="{{ item.category.name }}"
                               role="tab"
                               aria-controls="trendy-fur-tab" aria-selected="false">{{ item.title }}</a>

                        </li>
                    {% endfor %}
                </ul>

            </div><!-- End .heading -->

            <div class="tab-content tab-content-carousel">
                <div class="tab-pane p-0 fade show active" id="trendy-all-tab" role="tabpanel"
                     aria-labelledby="trendy-all-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                         data-owl-options='{
                                "nav": false,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true,
                                        "dots": false
                                    }
                                }
                            }'>
                        {% for item in product %}
                            <div class="product product-11 text-center">

                                <figure class="product-media">
                                    <a href="{% url 'polls:product' item.id %}">
                                        <img src="{{ item.image.url }}"
                                             alt="Product image"
                                             class="product-image">
                                        <img src="{{ item.image.url }}"
                                             alt="Product image"
                                             class="product-image-hover">
                                    </a>

                                    <div class="product-action-vertical">
                                        <form action="{% url 'polls:wish_list_add' %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit"
                                                    class=" btn-product-icon btn-wishlist btn-expandable" name="id"
                                                    value="{{ item.id }}">
                                                <span>Add to wishlist</span>
                                            </button>


                                        </form>
                                    </div><!-- End .product-action-vertical -->
                                </figure><!-- End .product-media -->
                                <div class="product-body">
                                    <h3 class="product-title"><a
                                            href="{% url 'polls:product' item.id %}">{{ item.title }}</a></h3>
                                    <!-- End .product-title -->
                                    <div class="product-price">
                                        ${{ item.price }}
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                                <div class="product-action">
                                    <form action="{% url 'polls:cart' %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn-product btn-cart"
                                                style="width: 35vmin;" name="id" value="{{ item.pk }}">
                                            <span>Add to cart</span>
                                        </button>
                                    </form>
                                </div><!-- End .product-action -->

                            </div><!-- End .product -->
                        {% endfor %}
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

        </div><!-- End .container -->
        <div class="container">
            <hr>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box icon-box-card text-center">
                            <span class="icon-box-icon">
                                <i class="icon-rocket"></i>
                            </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                            <p>Free shipping for orders over $50</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-4 col-sm-6 -->

                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box icon-box-card text-center">
                            <span class="icon-box-icon">
                                <i class="icon-rotate-left"></i>
                            </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                            <p>Free 100% money back guarantee</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-4 col-sm-6 -->

                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box icon-box-card text-center">
                            <span class="icon-box-icon">
                                <i class="icon-life-ring"></i>
                            </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                            <p>Alway online feedback 24/7</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-lg-4 col-sm-6 -->
            </div><!-- End .row -->

            <div class="mb-2"></div><!-- End .mb-2 -->
        </div><!-- End .container -->
        {% if not user.is_authenticated %}
            <div class="cta cta-display bg-image pt-4 pb-4"
                 style="background-image: url({% static 'images/backgrounds/cta/bg-6.jpg' %});">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-9 col-xl-8">
                            <div class="row no-gutters flex-column flex-sm-row align-items-sm-center">
                                <div class="col">
                                    <h3 class="cta-title text-white">Sign Up & Get 10% Off</h3><!-- End .cta-title -->
                                    <p class="cta-desc text-white">Molla presents the best in interior design</p>
                                    <!-- End .cta-desc -->
                                </div><!-- End .col -->

                                <div class="col-auto">
                                    <a href="{% url 'account:register' %}"
                                       class="btn btn-outline-white"><span>SIGN UP</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .col-auto -->
                            </div><!-- End .row no-gutters -->
                        </div><!-- End .col-md-10 col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cta -->
        {% endif %}
    </main><!-- End .main -->
{% endblock content %}
